*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0;
    font-family: 'Marcellus', serif;
}


/* ... (Styles pour les écrans de 320px) */
nav {
    background-color: #6C3E3E;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 20%;
    display: flex;
    margin: auto;
    padding-top: 5px;
}

.rubrique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
    gap: 5px;
    height: 100%;

}

.rubrique a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}



div.boite-tout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;



}


.projet-audiovisuel {
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 1.1em;
    display: flex;
    margin: 0;
    margin-top: 10px;

}

.vdeo,
.sons{
    height:100%;
}

.intro-audiovisuel {
    margin-left: 20px;
    margin-right: 20px;
}

.partie-video,
.partie-son {
    color:#6C3E3E;
    padding: 10px;
    /* Add padding for better visual appearance */
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    /* Add margin for spacing between links */
   


    .explication-video,
    .explication-son{
        margin-left:48px;
        margin-right:48px;
    }

    .iframe-itw iframe{
        width: 80%; /* La largeur de l'image est définie à 100% de la largeur de son conteneur parent */
        height: auto; /* La hauteur est ajustée automatiquement pour conserver les proportions de l'image */
        display: block; /* Supprime l'espace sous l'image, ce qui peut être causé par l'affichage en ligne */
        max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas sa taille originale */
       margin:auto;
       
    }
    

    .iframe-itw {
      margin-left:10px;
      margin-right:10px;
    }



    
    .podcast img {
        width: 70%; /* ou toute autre valeur en pourcentage */
        height: auto;
        display: block; /* Pour résoudre des problèmes d'espacement supplémentaire si nécessaire */
        margin: auto;
    }
    
    
    /* Ajoutez d'autres styles au besoin */
    
    .titre-audiovisuel{
        color: #6C3E3E;
        font-family: 'Marcellus', serif;
        font-size: 1.2em;
        display: flex;
        margin-top:40px;
        margin-left:20px;
    }
    

    .footer {
        background-color: #6C3E3E;
        color: white;
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 10px; /* Adjust the value of the gap according to your needs */
        margin-bottom: -5px; /* Reduce margin-bottom to bring p and a closer */
    }
    
    .footer-content p, .footer-content a {
        font-size: 0.9em;
        margin: 5px 0; /* Add a margin to separate p and a vertically */
    }
    .reseaux-sociaux {
        margin:auto;
        display: flex;
        align-items: center;
        gap: 10px; /* Ajustez la valeur du gap selon vos besoins */
    }
    
    .reseaux-sociaux a {
        width: 30px;
        height: 30px;
    }
    
    .reseaux-sociaux img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .interieur-footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
         /* Ajustez la valeur du gap selon vos besoins */
    }
    
    
    
    .interieur-footer a {
        text-decoration: none;
        color: white;
    }
    
    .logo-footer {
        width:20%;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-right: 0;
    }



@media screen and (min-width: 768px) {
    /* Ajoutez vos styles spécifiques pour l'écran de 1440px et plus ici */
    
    nav {
        background-color: #6C3E3E;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 100px;
    }
    
    .logo {
        width: 50px;
        margin-left: 5px;
    }
    .rubrique {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto; /* Push the links to the right */
    }
    
    .rubrique a {
        color: white;
        font-size: 1em;
        text-decoration: none;
        margin-right: 50px;
    }


    .video,
    .sons{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Set two equal columns */
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left:50px;
        margin-right:50px;
        margin-bottom:50px;
        height:100%; 
    }

    
    .iframe-itw,
    .podcast{
        grid-column: 1; /* Place the text content in the second column */
        grid-row: 1; /* Place the text content in the first row */
        margin:auto;
        
      
     

    }

    .iframe-itw iframe,
    .podcast img{
        width:450px;
        height: 350px;
      
        margin:auto;
       
        
        
    }

    .intro-audiovisuel{
        margin-left:100px;
        margin-right:100px;
    }

    

    .explication-video,
    .explication-son {
        grid-column: 2; /* Place the text content in the second column */
        grid-row: 1; /* Place the text content in the first row */
        margin:auto;
        margin-left: 20px;
        margin-right: 50px;
       
    }

    .partie-video,
    .partie-son {
        color:#6C3E3E;
        padding: 10px;
        /* Add padding for better visual appearance */
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:50px;
        margin-bottom:50px;
        }
        /* Add margin for spacing between links */
       
    
    
  
    




    .footer {
        background-color: #6C3E3E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 15px; /* Adjust the value of the gap according to your needs */
    }
    
    .footer-content p,
    .footer-content a {
        font-size: 0.9em;
        color: white;
        text-decoration: none;
        margin-left:20px;
      /* Add margin-bottom to create space between p and a */
    }
    
    .reseaux-sociaux {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .reseaux-sociaux a {
        width: 50px;
        height: 50px;
    }
    
    .logo-footer {
        width: 70px; /* Ajustez la largeur selon vos besoins */
        margin:auto;
    }
    
    .interieur-footer{
        display:flex;
        flex-direction: row;
      

    }
}




