*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0;
    font-family: 'Marcellus', serif;
}


/* nav */


/* nav */
nav {
    background-color: #6C3E3E;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 20%;
    display: flex;
    margin: auto;
    padding-top: 5px;
}

.rubrique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
    gap: 5px;
    height: 100%;

}

.rubrique a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}


div.boite-tout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;



}

div.boite-petit {
    display: flex;
    flex-direction: column;
    height: 48%;
    padding-right: 10px;
    margin-top: 15px;



}

div.bordure {
    background-color: #6C3E3E;
    border-radius: 36px;
    width: 100%;
    height: 8px;
    margin: 0;


}


.cercle-photo img {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px;
}



    .portfolio {
        color: #6C3E3E;
        font-family: 'Marcellus', serif;
        font-size: 0.6em;
        display: flex;
        margin: 0;



    }



.nom {
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 1.1em;
    display: flex;
    margin-bottom: 0;
}

.intro-contact{
    margin-left:20px;
    margin-right:20px;
}


    
   .les-contacts{
  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom:50px;
        
   }
    

   .carre {
    width: 37px;
    height: 37px;
    border: none;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;

}


.les-contacts-associe .carre {
    width: 50px;
    height: 50px;
    border: none;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10px;

}

.les-contacts-associe .carre img {
    width: 100%;
    height: 100%;
}

.text-contact{
    text-align:center;
}



.footer {
    background-color: #6C3E3E;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the value of the gap according to your needs */
    margin-bottom: -5px; /* Reduce margin-bottom to bring p and a closer */
}

.footer-content p, .footer-content a {
    font-size: 0.9em;
    margin: 5px 0; /* Add a margin to separate p and a vertically */
}
.reseaux-sociaux {
    margin:auto;
    display: flex;
    align-items: center;
    gap: 10px; /* Ajustez la valeur du gap selon vos besoins */
}

.reseaux-sociaux a {
    width: 30px;
    height: 30px;
}

.reseaux-sociaux img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.interieur-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
     /* Ajustez la valeur du gap selon vos besoins */
}



.interieur-footer a {
    text-decoration: none;
    color: white;
}

.logo-footer {
    width:20%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 0;
}


@media screen and (min-width: 768px) {
    nav {
        background-color: #6C3E3E;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 100px;
    }
    
    .logo {
        width: 50px;
        margin-left: 5px;
    }
 
    .rubrique {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto; /* Push the links to the right */
    }
    
    .rubrique a {
        color: white;
        font-size: 1em;
        text-decoration: none;
        margin-right: 50px;
    }

    .nom {
        color: #6C3E3E;
        font-family: 'Marcellus', serif;
        font-size: 2em;
        display: flex;
        margin: 0;
        margin-top: 10px;

    }

    .portfolio {
        color: #6C3E3E;
        font-family: 'Marcellus', serif;
        font-size: 0.9em;
        display: flex;
        margin: 0;
    }

    .cercle-photo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        width: 150px;
    }
    
    .cercle-photo img {
        width: 100%; /* Ensure the image takes up the full width of its container */
        max-width: 150px; /* Set a maximum width for the image */
        height: auto; /* Maintain the aspect ratio of the image */
    }


    .intro-contact{
        margin-left:350px;
        margin-right:350px;
    }


    
    .les-contacts{
  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom:50px;
        margin-left:500px;
        margin-right:500px;
        
   }

.les-contacts-associe .carre {
width: 67px;
height: 67px;
border: none;
background: #FFF;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 10px;

}


    .footer {
        background-color: #6C3E3E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 15px; /* Adjust the value of the gap according to your needs */
    }
    
    .footer-content p,
    .footer-content a {
        font-size: 0.9em;
        color: white;
        text-decoration: none;
        margin-left:20px;
      /* Add margin-bottom to create space between p and a */
    }
    
    .reseaux-sociaux {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .reseaux-sociaux a {
        width: 50px;
        height: 50px;
    }
    
    .logo-footer {
        width: 70px; /* Ajustez la largeur selon vos besoins */
        margin:auto;
    }
    
    .interieur-footer{
        display:flex;
        flex-direction: row;
      

    }
}