*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0;
    font-family: 'Marcellus', serif;
}


/* nav */


/* nav */
nav {
    background-color: #6C3E3E;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 20%;
    display: flex;
    margin: auto;
    padding-top: 5px;
}

.rubrique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
    gap: 5px;
    height: 100%;

}

.rubrique a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}



/* intro */

div.boite-tout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;



}

.projet {
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 1.1em;
    display: flex;
    margin:0;
    margin-top:10px;
    
}


.img-resaweb,
.img-portrait-chinois, 
.img-dataviz {
    width: 87%; /* La largeur de l'image est définie à 100% de la largeur de son conteneur parent */
    height: auto; /* La hauteur est ajustée automatiquement pour conserver les proportions de l'image */
    display: block; /* Supprime l'espace sous l'image, ce qui peut être causé par l'affichage en ligne */
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas sa taille originale */
    margin-left:20px;
    border-radius: 10px;
}




.intro-dev{
    margin-left:20px;
    margin-right:20px;
}


.resaweb, 
.portrait-chinois, 
.dataviz{
    height: 100%;
}

.titre-resaweb,
.titre-portrait-chinois,
.titre-dataviz{
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 1.2em;
    display: flex;
    margin-top:40px;
    margin-left:20px;
}


.explication-resaweb,
.explication-portrait,
.explication-dataviz {
    margin-left:20px;
    margin-right:20px;
}
/* footer */

.footer {
    background-color: #6C3E3E;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the value of the gap according to your needs */
    margin-bottom: -5px; /* Reduce margin-bottom to bring p and a closer */
}

.footer-content p, .footer-content a {
    font-size: 0.9em;
    margin: 5px 0; /* Add a margin to separate p and a vertically */
}
.reseaux-sociaux {
    margin:auto;
    display: flex;
    align-items: center;
    gap: 10px; /* Ajustez la valeur du gap selon vos besoins */
}

.reseaux-sociaux a {
    width: 30px;
    height: 30px;
}

.reseaux-sociaux img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.interieur-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
     /* Ajustez la valeur du gap selon vos besoins */
}



.interieur-footer a {
    text-decoration: none;
    color: white;
}

.logo-footer {
    width:20%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 0;
}


@media screen and (min-width: 768px) {
    nav {
        background-color: #6C3E3E;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        gap: 100px;
    }
    
    .logo {
        width: 50px;
        margin-left: 5px;
    }
 
    .rubrique {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: auto; /* Push the links to the right */
    }
    
    .rubrique a {
        color: white;
        font-size: 1em;
        text-decoration: none;
        margin-right: 50px;
    }


    .Dataviz, 
    .resaweb,
    .portrait-chinois{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Set two equal columns */
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-left:50px;
        margin-right:50px;
        margin-bottom:50px;
        height:100%;
    }
   
    
    .img-dataviz,
    .img-resaweb, 
    .img-portrait-chinois{
        grid-column: 1; /* Place the image in the first column */
        grid-row: 1; /* Place the image in the first row */
        width: 90%; /* Ensure the image takes the full width of its grid cell */
        margin:auto;
        border-radius: 15px;
        /* border:none; */
        margin-bottom:50px;

        
        
      
    }


    .intro-dev{
        margin-left:100px;
        margin-right:100px;
    }
    
    .titre-dataviz,
    .titre-resaweb,
    .titre-portrait-chinois{
        margin-left:90px;
       
    }
    

    
    .explication-dataviz,
    .explication-portrait,
    .explication-resaweb {
        grid-column: 2; /* Place the text content in the second column */
        grid-row: 1; /* Place the text content in the first row */
        margin:auto;
    }
    
.projet{
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 2em;
    display: flex;
    margin:0;
    margin-top:10px;
    
}

svg {
    width:50px;
    height:35px;
}

    

    .footer {
        background-color: #6C3E3E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    
    .footer-content {
        display: flex;
        flex-direction: row;
        gap: 15px; /* Adjust the value of the gap according to your needs */
    }
    
    .footer-content p,
    .footer-content a {
        font-size: 0.9em;
        color: white;
        text-decoration: none;
        margin-left:20px;
      /* Add margin-bottom to create space between p and a */
    }
    
    .reseaux-sociaux {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .reseaux-sociaux a {
        width: 50px;
        height: 50px;
    }
    
    .logo-footer {
        width: 70px; /* Ajustez la largeur selon vos besoins */
        margin:auto;
    }
    
    .interieur-footer{
        display:flex;
        flex-direction: row;
      

    }
}


