*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    background: white;
    margin: 0;
    font-family: 'Marcellus', serif;


}

/* format téléphone /* 320 x 480 px */
nav {
    background-color: #6C3E3E;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 10%;
    display: flex;
    margin: auto;
    padding-top: 5px;
}

.rubrique {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
    gap: 5px;
    height: 100%;

}

.rubrique a {
    color: white;
    font-size: 0.7em;
    text-decoration: none;
}


.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    height: 100vh;
   
}


div.boite-tout {
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    
}

div.boite-petit {
    display: flex;
    flex-direction: column;
    height: 48%;
    padding-right: 10px;
    margin-top: 25px;

  

}

div.bordure {
    background-color: #6C3E3E;
    border-radius: 36px;
    width: 100%;
    height: 8px;
    margin: 0;


}



.nom {
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 1.1em;
    display: flex;
    margin-bottom: 0;
}


.portfolio {
    color: #6C3E3E;
    font-family: 'Marcellus', serif;
    font-size: 0.6em;
    display: flex;
    margin:0;
    


}

.boite-image {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;

}

.boite-image img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.boite-liste ul {
    padding:0;
    margin:0;
    font-size:0.9em;
    display:flex;
    justify-content: center;
   
}

.boite-liste li {
    display: inline;
    margin-right: 10px;
}

/* Pour ajouter un espace entre la puce et le texte de l'élément li */
.boite-liste li::before {
    
    content: '\2022';
    margin-right: 5px;
}


/* A propos */
.apropos{
    height:fit-content;
}

.titre-apropo{
    margin-right:20px;
    margin-left:20px; 
    margin-bottom:5px; 
}
.paragraphe-apropo{
    margin-right:20px;
    margin-left:20px;
    margin-bottom:5px;
    font-size:0.8em;
}

.division1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
    margin-top:10px;
    margin-bottom:10px;  
}

.essentiel{
    font-size:0.7em;
    margin-right:10px;
    
}

div.slider {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-left: 10px; /* Ajoute une marge à gauche */
    margin-right: 10px;
    margin: auto;
}

.slider-content {
    display: flex;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
     /* Empêche le débordement du contenu de l'élément */
     /* Ajoute une marge à droite */
}

.slider-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0); /* Reste à la position initiale pour éviter le débordement */
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
}

/* carré blanc dans une image */
